.active {
    background-color: #1d4ed8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b2430;
}

nav .title {
    font-size: 24px; 
    margin: 16px; 
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    position: sticky;
    top: 150px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 8px; 
    margin: 0 8px;
    border-radius: 8px; 
}

nav ul li a:not(.active):hover {
    background-color: #6c7ae0;
}
nav.menu{
    display: none;
    position: absolute;
    top: 8px;
    right: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;

}
nav.menu span{
    display: block;
    height: 4px;
    width: 3px;
    background-color:green;
    border-radius: 3px;
    margin-bottom: 5px;

}

@media(max-width:768){
    nav.menu{
        display: block;
        cursor: pointer;
    }
}